
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

</head>
<body style="margin: 50px 50px">
<div style=" border: 6px solid black;padding: 15px 40px">

    <h1 style="text-align: center ;
        border: 2px solid dodgerblue;
        padding: 5px;
        ">
        Votre paiement a été accepté
    </h1>
    <div style="margin:40px 0 10px 0  ;justify-content: center">
        <h1 style="margin-bottom: 35px ;color:darkred ;color:darkred ">Detail de Paiment:</h1>
        <p> Date de paiement </p>
        <p> N° de paiement:</p>
        <p> N° de carte de paiement</p>
    </div>
    <div style="margin:0px 0 10px 0">
        <h1 style="margin-bottom: 35px ;color:darkred">Information du client:</h1>
        <p> Nom:</p>
        <p> Prénom:</p>
        <p> Email:</p>
        <p> Téléphone:</p>
    </div>
    <div style="margin:0px 0 10px 0">
        <h1 style="margin-bottom: 35px ;color:darkred">Detail de la reservation:</h1>
        <p>Nom de l'hôtel:</p>
        <p> Type de chambre: </p>
        <p> Nombre de personnes:</p>
        <p> Date de réservation:</p>
        <p> Date de fin de réservation:</p>
        <p> TTC :</p>
    </div>

</div>
</body>
</html>
